{% extends "budg_layout.html" %}
{% block body %}
<script type="text/javascript">

    /* Generates all of the data for a particular cashflow when clicked if nothing exists
        else
        removes all inner html from ul
        
        */
    function show_cfData(cfID,accID, value,rRate,rType,est,endDate) {
        var list = document.getElementById("cf_"+cfID);
        //alert(list.innerHTML);

        if (list.innerHTML == "") {
            //fill in 
            //alert("<sml><a href=\"{{ url_for('deleteCashFlow',id="+cfID+",accID=" + accID + ") }}\">delete</a></sml>");
            list.innerHTML = '<li>Value: ' + value + '</li>'
                + ' </li><li>Every: ' + rRate.toString() + ' ' + rType.toString()
                + '</li><li>Estimate: ' + est.toString()
                + ' </li><li>End Date: ' + endDate.toString() + '</li>'
                + "<sml><a href=\"{{ url_for('deleteCashFlow',id=0,accID=0)}}\">delete</a></sml>".replace('/00','/'+cfID+accID)
				+ " / <sml><a href=\"{{ url_for('cfBreakdown',id=0,accID=0)}}\">breakdown</a></sml>".replace('/00','/'+cfID+accID)
				+ " / <sml><a href=\"{{ url_for('edCashFlow',id=0)}}\">edit</a></sml>".replace('/0','/'+cfID);
                //+ ;
        }
        else {
            list.innerHTML="";
        }
    }

    function show_expData(expID,accID,value,eDate) {
        var list = document.getElementById("exp_"+expID);
        //alert(list.innerHTML);

        if (list.innerHTML == "") {
            
            list.innerHTML = '<li>Value: ' + value + '</li>'
                + ' </li><li>Date: ' + eDate.toString() + '</li>'               
			    + "<sml><a href=\"{{ url_for('deleteExpense',id=0,accID=0)}}\">delete</a></sml>".replace('/00','/'+expID+accID)
			    + " / <sml><a href=\"{{ url_for('edExpense',id=0)}}\">edit</a></sml>".replace('/0','/'+expID);
        }
        else {
            list.innerHTML="";
        }
}

    function show_tfData(tfID, other_account, value, date, fromTo, accID) {
        var list = document.getElementById("tf_"+tfID);
        //display positive or negative values depending on data
		if (fromTo=="To: "){
		
			value=-value;
			}
        if (list.innerHTML == "") {
            
            list.innerHTML = '<li>Value: ' + value + '</li>'
                + ' </li><li>'+fromTo+other_account + '</li>'
				+ ' </li><li>Date: ' + date.toString() + '</li>'
			    + "<sml><a href=\"{{ url_for('deleteTransfer',id=0,accID=0)}}\">delete</a></sml>".replace('/00','/'+tfID+accID)
			    + " / <sml><a href=\"{{ url_for('edTransfer',id=0)}}\">edit</a></sml>".replace('/0','/'+tfID);
        }
        else {
            list.innerHTML="";
        }
}
</script>


<fieldset><center><a href="{{ url_for('welcome') }}">Home</a> </center></fieldset>
<!--ADD Select Account-->
    <form name=accountSelect action="{{ url_for('displayAccount',acData='something') }}" method=POST >
    <fieldset >
    <legend>Select an account</legend>
    <dt>Account: 
    <select name="account"><dl>
    {% for account in ddList %}
    	<option value={{account.id}}>{{account.title}}</option>
    {% endfor %}
    </select>
    <br>
    <input type=submit value="Submit" name="Submit">
    </fieldset>
    </form>

<!--Display Account Data-->
    <fieldset>
    <legend>{{acData.title}} Data</legend>

    <ul class=results>
    <li><h2>{{acData.title}}</h2>
    Value: {{acData.getDateValue()}}
    <br>
    As of: {{tDate}}
    </ul>

<!--Display Cashflow Data-->
    CashFlows:<br>
        {% for cf in cfData %}
        ><a href="javascript:show_cfData('{{cf.id}}','{{cf.account_id}}','{{cf.value}}','{{cf.recurRate}}','{{cf.recurType}}','{{cf.estimate}}','{{cf.recurEnd.date()}}');">{{cf.title}}</a><br>
        <ul id="cf_{{cf.id}}"></ul>

        {% else %}
            <em>Nothing to report chief</em></li><br>

        {% endfor %}

<!--Display Expenses Data-->
    Expenses:<br>
    {% for exp in expData %}
    ><a href="javascript:show_expData('{{exp.id}}','{{exp.account_id}}','{{exp.value}}','{{exp.date.date()}}');">{{exp.title}}</a><br>
    <ul id="exp_{{exp.id}}"></ul>

    {% else %}
        <em>Nothing to report chief</em></li><br>

    {% endfor %}

<!--Display Transfer Data-->
 Transfers in:<br>
    {% for tf in tf_in %}
		><a href="javascript:show_tfData('{{tf.id}}','{{tf.f_account.title}}','{{tf.value}}','{{tf.date}}','From: ', '{{acData.id}}');">{{tf.title}}</a><br>
		<ul id="tf_{{tf.id}}"></ul>

    {% else %}
        <em>Nothing to report chief</em></li><br>

    {% endfor %}

 Transfers out:<br>
    {% for tf in tf_out %}
		><a href="javascript:show_tfData('{{tf.id}}','{{tf.t_account.title}}','{{tf.value}}','{{tf.date}}','To: ', '{{acData.id}}');">{{tf.title}}</a><br>
		<ul id="tf_{{tf.id}}"></ul>

    {% else %}
        <em>Nothing to report chief</em></li><br>

    {% endfor %}	

</fieldset>

{% endblock %} 