{% extends "budg_layout.html" %}	
{% block body %}

<fieldset><center><a href="{{ url_for('adAccount') }}">Add Account</a> / 
<a href="{{ url_for('adCashFlow') }}">Add CashFlow</a> / 
<a href="{{ url_for('adExpense') }}">Add Expense</a> / 
<a href="{{ url_for('adTransfer') }}">Add Transfer</a> / 
<a href="{{ url_for('displayAccount',acData='None') }}">Display Data</a></center>
<div class=largeText>What is this?</div>
<div class=smallText><p>This is a budget maintenance program.  
This program is designed to help maintain your budget and keep you out of the poor house. </p>
<p>Note: It is only as good as the data you give it</p>
</div>


<!-- list the accounts and their ammounts here -->

<div class=mediumText>Account Data</div>

<ul class=results>
{% for account in results %}
<li><h2>{{account.title}}<sml> - <a href="{{ url_for('edAccount',id=account.id) }}">Edit</a></sml></h2>
{{account.getDateValue()}}
<br>
{{tDate}}

<br>
<sml><a href="{{ url_for('deleteAccount',title=account.title) }}">delete</a></sml>
{% else %}
<li><em>Nothing to report chief</em>
{% endfor %}
</ul>


{% endblock %}
