body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em;}
sml             {font-size:xx-small; color: #808080; vertical-align:middle; }
md		{font-size:small; color: #808080; vertical-align:middle; }



.leftPage		{text-align:center;float:left;width:340px;margin:5px;border-right-style:solid;border-color:#F8FBFE;
			color:#FFFFFF}
			
.rightPage		{text-align:center;float:left;width:335px;height:90px;font-size:1em;font-family:'Georgia',serif;margin:5px;
			color:#377BA8}
			
.page			{ margin: 2em auto; width: 700px; border: 5px solid #ccc;
			padding: 0.8em; background: white; }
			
.floatKiller	{clear:both;}

.largeText		{text-align:left;font-family:'Georgia',serif;margin:5px;
			font-size:1.2em;}
.mediumText		{text-align:left;font-family:'Georgia',serif;margin:5px;
			font-size:1em;}
.smallText		{text-align:left;font-family:'Georgia',serif;margin:5px;
			font-size:.8em;}
.results 		{ list-style: none; margin: 0; padding: 0; }
.results li 		{ margin: 0.8em 1.2em; font-size:medium;color:darkgrey}
.results li h2 	{ margin-left: -1em; }
.logout			{text-align:right;float:right;font-size:xx-small;}
####################################################################

.logreg         {text-align:right;font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }

.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.topPage	{text-align:center;font-size:1em;font-family:'Georgia',serif;margin:0;
			color:#377BA8}

.setfield        {border: 0; color:#808080;}

